 body{
font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:34px;
	color:#333333;
	margin:0px;
	padding:0px;
	background-color:#fff;
	-webkit-transition: all .6s ease; -moz-transition: all .6s ease; -o-transition: all .6s ease; transition: all .6s ease;
}

h1, h2, h3, h4{
	margin:2px 0px;
	padding:0px;
	font-weight:normal;
	text-transform:uppercase;
}

#role h1 {
    background-color: #342d65;
    padding: 20px 10px;
    border-left: 5px solid #9092bc;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px !important;
	margin-bottom: 40px;
}

.inner{
	width:80%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

#top{
	background:rgba(255, 255, 255, 0.6);
	position:fixed;
	width:100%;
	height:144px;
	z-index:9999;
	max-height:220px;
	border-bottom:1px solid #03b9b7;
}

#top .topblueline{
		background-color:#03b9b7;
		width:100%;
		height:5px;
	}

#top .logo{
	
    width: 159px;
    height: 88px;
    margin: 0 auto;
}

#top .logo a{
	text-indent:-9999px;
	float:left;
	background: url(images/logo.png) no-repeat;
    width: 159px;
    height: 88px;
    margin: 0 auto;
	display:block;
}

#top .topright{
	width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
	background:rgba(223, 224, 222, 0.6);
	
}

#top .loginbutt{
	width:30%; 
	height:30px; 
	background:#342d65; 
	float:right;
	text-align:center;
}

#top .loginbutt a{ 
			font-size:12px;
			color:#f4f4f6;
			text-decoration:none;
			vertical-align: top;
		}

#mainnavigationmenu{
    height: 55px;
    text-align: right;
    bottom: 0;
    width: 597px;
    margin-left: auto;
    margin-right: auto;
}
	#mainnavigationmenu ul{margin:0px; padding:0px; list-style:none;}
	#mainnavigationmenu ul li{float:left; height:1px }
	#mainnavigationmenu ul li.active{background:#dfdede;}
	#mainnavigationmenu ul li a{font-size:13px; color:#000; font-weight:bold; text-decoration:none; letter-spacing:0px; float:right; padding:10px 10px 7px 10px;  text-transform:uppercase; transition:all .3s ease; border-left:1px solid #aaa7a7; border-right:1px solid #e4e0e0 }
	#mainnavigationmenu ul li a:hover{background-color:#000;  color:#fff;   background-repeat:no-repeat; background-position:52px 44px}
	#mainnavigationmenu ul li a.home{background:url(images/home.png) no-repeat; height:25px; width:26px; margin:11px 15px 0px 15px; text-indent:-9999px; transition:all .3s ease}
	#mainnavigationmenu ul li a.current{
	color: #fff;
    /* font-weight: bold; */
    background: #f6653c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;}
	
	#mainnavigationmenu ul li a.request{color:#a50303; font-weight:	bold}
	
	
#footermenu{
	width:52%; 
	height:55px; 
	text-align:center;
	margin-top:18px;
	margin:0 auto;
}
	#footermenu ul{margin:0px; padding:0px; list-style:none;}

	#footermenu ul li.active{background:#dfdede;}
	#footermenu ul li a{font-size:14px; color:#342d65; font-weight:normal; text-decoration:none; letter-spacing:0px; float:left; padding:10px;  text-transform:capitalize; color:#666666}
	#footermenu ul li a:hover{color:#9092bc}
	
	#sbannermask{
		background: #000;
		position: relative;
		width: 100%;
		float: left;
		overflow: hidden;
		height: 500px;
	}
	
	.jobbanner{
		position: relative;
		z-index: 99;
		max-width: 400px;
		margin: 0 auto;
		height: auto;
		top: 20%;
		border: 1px solid #fff;
		padding: 5%;
		text-align: center;
		color: #fff;
		background: rgba(0, 0, 0, 0.4);
		line-height:14px;
		font-weight:bold;
		padding-top:5%;
		text-transform:uppercase;
	}
	
	.jobbanner > .rlist_time, .jobbanner > .rlist_enddate, .jobbanner > .rlist_enddate, .jobbanner > .rlist_location  {
		padding:10px 0px;
		font-size:18px
	}
	
	.srlist_title{
		position: relative;
		z-index: 999;
		max-width: 100px;
		margin: 0 auto;
		height: 60px;
		border-radius:100px;
		top: 28%;
		border: 1px solid #fff;
		text-align: center;
		color: #fff;
		background: #fff;
		line-height:14px;
		font-weight:bold;
		padding-top:3%;
	}
	
	
	#sub_banner{
		background-color:#000;
		filter: alpha(opacity=40);
		-moz-opacity: 0.4;
		-khtml-opacity: 0.4;
		opacity: 0.4;
		height: 500px;
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		
	}
	
	#sub_banner img{
		position:fixed;
		
	}

	#banner{
		
		background-repeat: no-repeat;
		background-position: top center !important;
		background-attachment: fixed !important;
		width: 100%;
		height: 600px;
		background-size: cover;
		
	}
	
	.carousel-inner img{
		position:fixed;
		z-index:1;
	}
	
	#maincontent{
		position:absolute;
		z-index:99;
	}
	
	#smaincontent{
		position:relative;
		z-index:99;
	}
	
	.carousel-caption{
		position:relative !important;
		width: 100% !important;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		padding-bottom:250px !Important;
	}
	
	.carousel-indicators{
		bottom: 100px !important;
	}
	
	.carousel-inner>.item{
		background:#000
		/*background:url(images/bg-gridline1_03.png) repeat
		background-color: #393939;
		background-image: url(images/bg-gridline1_03.png);
		background-repeat: repeat;;*/
	}
	
	.carousel-inner>.item>img{
		opacity: 0.4
	}
	
	.bannertext{
		width: 80%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		padding-top: 300px;
		text-align:center;
		color:#fff;
		line-height:20px;
		font-family:Arial;
	}
	
	.banner_menu{
		width:85%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		text-align:center;
		color:#fff;
		line-height:20px;
		font-family:Arial;
	}
	
	a.bannerlink{
		background:url(images/buttonbg.png) no-repeat;
		height:96px;	
		width:445px;
		display:block;
		float:left;
		margin:10px;
		text-decoration:none;
		color:#fff;
		position: relative;
		
	}
	
	a.bannerlink:hover{
		background-position:0px -99px
	}
	
	.bannerlink > .ttle{
		color:#fff;
		font-family:'Trebuchet MS';
		font-size:35px;
		font-weight:normal;
		position: absolute;
		top: 27px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	
	.bannerlink > .sttle{
		color:#fff;
		font-family: 'Open Sans', sans-serif;
		font-size:20px;
		font-weight:300;
		position: absolute;
		top: 60px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	
	#search_box{
		height: 74px;
		width: 100%;
		background-color: #464546;
		padding: 5% 0px;
		position: relative;
		z-index: 998;
	}
	
	
	
	#search_box form{
		padding: 0px;
		margin: 0px;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	#search_box form ul{
		padding:0px;
		margin:0px;
		list-style:none;
	}
	
	
	#search_box form ul li input[type="text"]{
		float:left;
		background-color:#fff;
		height:auto;
		width:35%;
		padding:20px 35px;
		color:#9e9ec5;
		font-size:20px;
		border:2px solid #6d6d9f;
		font-style:italic;
		text-transform:capitalize;
	}
	
	
	#search_box form ul li input[type="text"].search_job{
		background-image: url(images/lensorange_03.png);
		background-repeat: no-repeat;
		background-position: 10px 25px;
		}
	
	#search_box form ul li input[type="text"].search_location{
		background-image: url(images/location_orange_05.png);
		background-repeat: no-repeat;
		background-position: 10px 25px;
		}
	
	
	#search_box form ul li input[type="submit"]{
		float:left;
		background-color:#7676a8;
		height:auto;
		padding:20px;
		color:#464546;
		font-size:20px;
		border:2px solid #6d6d9f;
		font-style:italic;
		color:#fff;
		text-transform:uppercase;
		cursor:pointer;
	}
	
	#search_box form ul li input[type="submit"]:hover{
		background-color:#383269;
		border:2px solid #383269;
	}
	
	
	#recent_job_opening{
		background-color:#fff;
		min-height:500px;
		padding-top:5%;
		padding-bottom:5%;
		float:left;
	}
	
	.inner h3{
		font-size:40px;
		width:100%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		padding-bottom:3%
	}
	
	#rjo_container{
		float:left;
		width:100%;
		background-color:#e5e5ef;
		margin-bottom:5%;
	}
	
	.rjo_title_cont{
		float:left;
		width:100%;
		padding:2% 0;
		background-color:#342d65;
	}
	
	.rtc{
		float:left;
		padding:0 13%;
		color:#fff;
		text-transform:uppercase;
	}
	
	
	.people{
		background-image:url(images/people_03.png);
		background-position: 72px 0px;
		background-repeat: no-repeat;
	}
	
	.location{
		background-image:url(images/location_05.png);
		background-position: 72px 0px;
		background-repeat: no-repeat;
	}
	
	
	.rjo_list ul{
		list-style:none;
		margin:0px;
		padding:0px;
	}
	
	.rjo_list ul li{
		width:94%;
		float:left;
		padding:1% 3%;
		background-image:url(images/lineborder_14.png);
		background-repeat:repeat-x;
		position:responsive;
		-webkit-transition: all .6s ease; -moz-transition: all .6s ease; -o-transition: all .6s ease; transition: all .6s ease;
	}
	
	.rjo_list ul li:hover{
		background-color:rgba(110,110,160, 0.3);
	}
	
	.rlist_image, .rlist_pos, .rlist_role,  .rlist_loc {
		float:left;
		color:#333333;
	}
	
	.rlist_pos{
		padding-right:25px;
		padding-left:3px;
	}
	
	.rlist_image img{
		border:3px solid #fff;
	}
	
	.rlist_role {
		float:left;
		width:30%;
		padding:1%;
		font: 14px 'Trebuchet MS';
		line-height:20px
	}
	
	.rlist_title, .srlist_title{
		text-transform:uppercase;
		color:#f6653c;
	}
	
	
	.rlist_time, .rlist_enddate, .rlist_location {

		font: 14px 'Trebuchet MS';
		line-height:18px
	}
	
	
	.rlist_loc {
		float:right;
		width:28%;
		padding:2%;
		font: 14px 'Trebuchet MS';
		line-height:18px;
	}
	
	.link{
		position: relative;
	}
	
	.link a{
		width:90%;
		height: 100px;
		float: left;
		position: absolute;
		z-index: 99999;
		/* display: block; */
	}
	
	a.rjo_bannerlink{
		background:url(images/viewall_18.png) no-repeat;
		height:54px;	
		width:195px;
		display:block;
		float:left;
		margin:10px;
		text-decoration:none;
		color:#fff;
		position: relative;
	}
	
	a.rjo_bannerlink:hover{
		background-position:0px -55px
	}
	
	
	.rjo_bannerlink > .ttle{
		color: #fff;
		font-family: 'Trebuchet MS';
		font-size: 20px;
		font-weight: normal;
		position: absolute;
		top: 10px;
		width: 52%;
		margin-left: 17%;
	}
	
	#about_jessal{
		
		width:100%; 
		float:left;
		background:#f4f4f6;
		min-height:500px;
		padding-top:5%;
		padding-bottom:5%;
	}
	
	#about_jessal .left{
		float:left;
		width:45%;
	}
	
	#about_jessal .right{
		float:right;
		width:47%;
		border-left:1px solid #ccc;
		padding:3%
	}
	
	
	
	#newsandevents{
		
		width:100%; 
		float:left;
		background:#464546;
		min-height:300px;
		padding-top:5%;
		padding-bottom:5%;
	}
	
	#banner_wwj{
		background-image: url(images/banner2.jpg);
		background-repeat: no-repeat;
		background-position: top center !important;
		background-attachment: fixed !important;
		width: 100%;
		height: 500px;
		background-size: cover;
		float:left;
		padding-top:5%;
		color:#f4f4f6;
		font-weight:normal;
	}
	
	#banner_wwj p{
		font: 18px 'Trebuchet MS';
		line-height:24px;
		color:#f4f4f6;
	}
	
	#banner_wwj ul  li{
		font-size:14px;
		font-style:italic;
	}
	
	#banner_wwj .left{
		float:left;
		width:45%;
	}
	
	#banner_wwj .right{
		float:right;
		width:47%;
	}
	
	#recruitment{
		width:100%; 
		float:left;
		background:#f4f4f6;
		min-height:300px;
		padding-top:5%;
		padding-bottom:5%;
	}
	
	#recruitment .ri{
		float:left;
		width:254px;
		text-align:center;
		line-height:24px;
		font-weight:bold;
	}
	
	#recruitment .ria{
		float:left;
	}
	
	
	#footer{
		width:100%; 
		float:left;
		background:#fff;
		min-height:200px;
		padding-top:5%;
		padding-bottom:5%;
	}
	
	.footerlogo{
		background:url(images/smalllogo_10.png) no-repeat;
		width:149px;
		height:89px;
		margin:0 auto;
	}
	
	
	#totop a{
	background:url(images/totop.png) no-repeat;
	width:70px;
	height:61px;
	display:block;
	position:fixed;
	text-indent:-99999px;
	right:0%;
	bottom:0px;
	z-index:9999;
	opacity: 0.5;
	-webkit-transition: all .9s ease; -moz-transition: all .9s ease; -o-transition: all .9s ease; transition: all .9s ease;
	}

	 #totop a:hover{
		opacity: 1;
	 }
	 
	 
	 #applynow a{
	background:url(images/applynowbutt_02.png) no-repeat;
	width:82px;
	height:112px;
	display:block;
	position:fixed;
	text-indent:-99999px;
	left:0%;
	bottom:200px;
	z-index:9999;
	opacity: 0.7;
	-webkit-transition: all .9s ease; -moz-transition: all .9s ease; -o-transition: all .9s ease; transition: all .9s ease;
	}

	#applynow a:hover{
		opacity: 1;
	 }
	

    #carousel-wrap {
    width: 100%;
    overflow: hidden;
}
	.carousel-nav{
		border-bottom:1px solid #ccc;
	}

	#testimonial-list {
		overflow: hidden;
		padding: 10px;
		width: 97%;
	}
	#testimonial-list>li {
		overflow: hidden;
		padding: 2%;
		width: 25%;
		display: inline-block;
		color:#fff;
		line-height:18px;
	}
	
	#prv-testimonial{
		margin-left:-2px;
		border-right:1px solid #ccc;
		cursor:pointer;
	}
	
	#nxt-testimonial{
		margin-left:-8px;
		
		cursor:pointer;
	}
	
	#newsandevents h3{
		color:#fff;
		padding-bottom:1% !important;
	}
	
	.context{
		color:#e5e5ef;
	}
	
	
	#job_submenu{
		background-color:#464546;
		width:98%;
		float:left;
		padding:1%
	}
	
	
	#job_submenu ul{margin:0px; padding:0px; list-style:none;}
	#job_submenu ul.smenu{width:715px; margin:0 auto}
	#job_submenu ul li{float:left}
	#job_submenu ul li a{font-size:16px; color:#fff !important; font-weight:normal; text-decoration:none; letter-spacing:0px; float:right; padding:10px;  text-transform:capitalize; color:#666666; width:150px; text-align:center}
	#job_submenu ul li a:hover{color:#7676a8 !important}

	#role, #salary{
		background-color:#f4f4f6;
		width:100%;
		float:left;
		padding-top: 5%;
	}
	
	#requirements{
		background-color:#fff;
		width:100%;
		float:left;
		padding-top: 5%;
	}
	
	.salaryamount{
		font-size:20px;
		color:#f6653c;
		text-align:center;
		font-weight:bold;
	}
	
	#location{
		background-color:#464546;
		width:100%;
		float:left;
		padding-top: 5%;
		color:#fff
	}
	
	
	
	.sbimg img{
		width: 25%;
		border: 5px solid #fff;
		float: left;
		height: auto;
		margin-right:10px
	}
	
	.sbcnt{
		float:left;
		padding-left:2%;
		width:65%;
		height:auto;
		padding-bottom:5%;
		border-left:1px solid #ccc
	}
	
	.sbcnt p{
		padding:0px;
		margin:0px;
	}